.header {
  align-items: center;
  background: #bb9469;
  display: flex;
  padding: 20px;
  margin-left: 135px;
  margin-right: 135px;
  gap: 30px;
  justify-content: space-between;
}

.header__links {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.header__links:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.header__links:hover {
  color: gray;
}

.menu {
  display: block;
}

.menuIcon {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: row;
    margin: 0;
  }
  .menu {
    display: none;
  }
  .menuIcon {
    display: block;
    align-items: center;
    cursor: pointer;
  }
  .header__links {
    flex: 1;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}
